
*.exe
RobotControl/bin/Debug/RobotControl.exe.config
RobotControl/bin/Debug/RobotControl.vshost.exe.config
RobotControl/bin/Debug/RobotControl.vshost.exe.manifest
RobotControl/obj/Debug/DesignTimeResolveAssemblyReferences.cache
RobotControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RobotControl/obj/Debug/RobotControl.csproj.FileListAbsolute.txt
RobotControl/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
RobotControl/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
RobotControl/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
RobotControl/.vs/RobotControl/v14/.suo
RobotControl/obj/Debug/RobotControl.Properties.Resources.resources
RobotControl/obj/Debug/RobotControl.pdb
RobotControl/obj/Debug/RobotControl.formRobotControl.resources
RobotControl/obj/Debug/RobotControl.csprojResolveAssemblyReference.cache
RobotControl/obj/Debug/RobotControl.csproj.GenerateResource.Cache
RobotControl/bin/Debug/RobotControl.pdb
RobotControl/RobotControl.v11.suo
RobotControl/.vs/RobotControl/v15/.suo
RobotControl/.vs/RobotControl/v15/Server/sqlite3/db.lock
RobotControl/.vs/RobotControl/v15/Server/sqlite3/storage.ide
RobotControl/.vs/RobotControl/v15/Server/sqlite3/storage.ide-shm
RobotControl/.vs/RobotControl/v15/Server/sqlite3/storage.ide-wal
RobotControl/obj/Debug/RobotControl.csproj.CoreCompileInputs.cache
RobotControl/obj/Debug/RobotControl.csprojAssemblyReference.cache
RobotControl/.vs/RobotControl/v15/Browse.VC.db
RobotControl/.vs/RobotControl/v15/Browse.VC.opendb
RobotControl/RobotControlTest/.vs/RobotControlTest/v15/.suo
RobotControl/obj/Debug/RobotControl.Controls.AreaViewControl.resources
RobotControl/obj/Debug/RobotControl.csproj.CopyComplete
RobotControl/obj/Debug/RobotControl.Views.EngineInfoView.resources
RobotControl/bin/Debug/WeifenLuo.WinFormsUI.Docking.dll
